* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
    background: rgb(80, 59, 59);
  }

a {
  text-decoration: none;
  color : #000;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

@import '_home.scss';
@import '_nav.scss';
@import '_login.scss';
@import '_post.scss';